<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.genady.rmi.rmiServer">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DD_AssignOne/src/client.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DD_AssignOne"/>
</launchConfiguration>
